<ng-container *transloco="let t">
  <nz-layout class="tb-layout-container">
    <nz-header nz-row nzAlign="middle">
      <nz-page-header
        nz-col
        nzFlex="1"
        nzBackIcon
        [nzTitle]="(layoutService.title$ | async) || ''"
        (nzBack)="onBack()"
      >
        <nz-page-header-extra
          *ngIf="layoutService.pageHeaderExtra$ | async as pageHeaderExtra"
        >
          <ng-container *ngTemplateOutlet="pageHeaderExtra"></ng-container>
        </nz-page-header-extra>
      </nz-page-header>
      <tb-avatar
        *ngIf="user"
        [tbShowTooltip]="false"
        [tbClickable]="true"
        [tbFullName]="user.fullName"
        [tbUrl]="user.profile.avatar?.url"
        nz-dropdown
        nzPlacement="bottomRight"
        nzTrigger="click"
        nzOverlayClassName="tb-layout-header-dropdown-menu"
        [nzDropdownMenu]="menu"
      ></tb-avatar>
    </nz-header>
    <nz-layout>
      <nz-sider
        nzCollapsible
        nzBreakpoint="lg"
        nzWidth="200px"
        nzTheme="light"
        [nzCollapsedWidth]="48"
        [(nzCollapsed)]="siderCollapsed"
      >
        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="siderCollapsed">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/projects">
              <i nz-icon nzType="appstore"></i>
              <span>{{ t('common.projects') }}</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users">
              <i nz-icon nzType="user"></i>
              <span>{{ t('common.users') }}</span>
            </a>
          </li>
        </ul>
      </nz-sider>
      <nz-content>
        <nz-breadcrumb
          *ngIf="breadcrumbService.breadcrumb$ | async as breadcrumb"
        >
          <nz-breadcrumb-item *ngFor="let item of breadcrumb; last as isLast">
            <ng-container *ngIf="isLast; else linkTemplate">
              {{ item.label }}
            </ng-container>
            <ng-template #linkTemplate>
              <a [routerLink]="item.url" [queryParams]="item.queryParams">
                {{ item.label }}
              </a>
            </ng-template>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <ng-content></ng-content>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li class="tb-layout-header-dropdown-menu-fullname">
        <span nz-typography nzEllipsis>
          {{ user?.fullName }}
        </span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        class="tb-layout-header-dropdown-menu-item-link"
      >
        <a routerLink="profile">{{ t('profile.profile') }}</a>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logout()">{{ t('common.log_out') }}</li>
    </ul>
  </nz-dropdown-menu>
</ng-container>
