<a nz-popover [nzPopoverContent]="additionalInfoTemplate">
  {{ tbUser.fullName }}
</a>
<ng-template #additionalInfoTemplate>
  <div nz-row nzAlign="middle" class="tb-user-additional-info">
    <tb-avatar nz-col [tbSize]="36" [tbFullName]="tbUser.fullName"></tb-avatar>
    <div nz-col class="tb-user-additional-info-name">
      <span nz-typography nz-row nzEllipsis>{{ tbUser.fullName }}</span>
      <span nz-row nz-typography nzType="secondary" nzEllipsis>
        {{ tbUser.username }}
      </span>
    </div>
  </div>
</ng-template>
