<a nz-popover [nzPopoverContent]="additionalInfoTemplate">
  {{ fullName }}
</a>
<ng-template #additionalInfoTemplate>
  <div nz-row nzAlign="middle" class="tb-user-additional-info">
    <tb-avatar
      nz-col
      [tbSize]="36"
      [tbFullName]="tbUser.profile.fullName"
      [tbUrl]="tbUser.profile.avatar?.url"
      [tbIsUserTrashed]="tbUser.trashed"
      [tbShowTooltip]="false"
    ></tb-avatar>
    <div nz-col class="tb-user-additional-info-name">
      <span nz-typography nz-row nzEllipsis>{{ fullName }}</span>
      <span nz-row nz-typography nzType="secondary" nzEllipsis>
        {{ tbUser.username }}
      </span>
    </div>
  </div>
</ng-template>
