<nz-input-group
  [nzPrefixIcon]="tbPrefixIcon"
  [nzSuffix]="suffixTemplate"
  [nzSize]="tbSize"
>
  <input
    [type]="passwordVisible ? 'text' : 'password'"
    nz-input
    [id]="tbId"
    [placeholder]="tbPlaceholder"
    [autocomplete]="tbAutoComplete"
    [ngModel]="value"
    (ngModelChange)="handleValueChange($event)"
  />
</nz-input-group>
<ng-template #suffixTemplate>
  <i
    class="tb-password-input-icon"
    nz-icon
    [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
    (click)="handleVisibleChange()"
  ></i>
</ng-template>
