<ng-container *transloco="let t">
  <form
    nz-form
    nzLayout="vertical"
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    nzNoColon
  >
    <nz-form-item>
      <nz-form-label nzFor="current-password" nzRequired>
        {{ t('profile.current_password') }}
      </nz-form-label>
      <nz-form-control>
        <tb-password-input
          formControlName="currentPassword"
          [tbPlaceholder]="t('profile.current_password')"
          tbId="current-password"
        ></tb-password-input>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired>
        {{ t('profile.new_password') }}
      </nz-form-label>
      <nz-form-control>
        <tb-password-input
          formControlName="password"
          [tbPlaceholder]="t('profile.new_password')"
          tbId="password"
        ></tb-password-input>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="confirm-password" nzRequired>
        {{ t('user.confirm_password') }}
      </nz-form-label>
      <nz-form-control [nzErrorTip]="confirmPasswordTemplate">
        <tb-password-input
          formControlName="confirmPassword"
          [tbPlaceholder]="t('user.confirm_password')"
          tbId="confirm-password"
        ></tb-password-input>
      </nz-form-control>
      <ng-template #confirmPasswordTemplate let-control>
        <ng-container *ngIf="control.hasError('confirmPassword')">
          {{ t('user.password_dont_match') }}
        </ng-container>
      </ng-template>
    </nz-form-item>
    <button
      class="submit-button"
      type="submit"
      [disabled]="!canSubmit"
    ></button>
  </form>
</ng-container>
