<ng-container *transloco="let t">
  <div
    nz-row
    [nzJustify]="tasks && tasks.length > 0 ? 'start' : 'center'"
    [nzAlign]="tasks && tasks.length > 0 ? null : 'middle'"
    class="tb-tasks"
  >
    <ng-container *ngIf="tasks; else spinTemplate">
      <ng-container *ngIf="tasks.length; else emptyTemplate">
        <span nz-col class="tb-tasks-mode-switch">
          <nz-switch
            [nzCheckedChildren]="t('task.board')"
            [nzUnCheckedChildren]="t('task.list')"
            [nzDisabled]="!tasks.length"
            [ngModel]="isBoard"
            (ngModelChange)="modeChange($event)"
          ></nz-switch>
        </span>
        <nz-card
          [nzBorderless]="isBoard"
          [nzBodyStyle]="isBoard ? { display: 'flex', overflow: 'auto' } : null"
          [class.tb-tasks-board]="isBoard"
        >
          <tb-task-board *ngIf="isBoard; else listTemplate"></tb-task-board>
          <ng-template #listTemplate>
            <tb-tasks-list [tbTasks]="tasks"></tb-tasks-list>
          </ng-template>
        </nz-card>
      </ng-container>
      <ng-template #emptyTemplate>
        <nz-empty [nzNotFoundContent]="t('task.no_tasks')"></nz-empty>
      </ng-template>
    </ng-container>
    <ng-template #spinTemplate>
      <nz-spin nzSimple nzSize="large"></nz-spin>
    </ng-template>
  </div>

  <ng-template #createButtonTemplate>
    <button nz-button nzType="primary" (click)="handleCreateTask()">
      {{ t('task.new_task') }}
    </button>
    <button nz-button nzType="primary" (click)="handleEditProject()">
      {{ t('project.edit_project') }}
    </button>
  </ng-template>
</ng-container>
