<ng-container *transloco="let t">
  <div
    nz-row
    [nzJustify]="tasks ? 'start' : 'center'"
    [nzAlign]="tasks ? null : 'middle'"
    class="tb-tasks"
  >
    <ng-container *ngIf="tasks; else spinTemplate">
      <div nz-col class="tb-tasks-toolbar">
        <nz-switch
          [nzCheckedChildren]="t('task.board')"
          [nzUnCheckedChildren]="t('task.list')"
          [nzDisabled]="!tasks"
          [ngModel]="isBoard"
          (ngModelChange)="modeChange($event)"
        ></nz-switch>
      </div>
      <nz-card
        [nzBorderless]="isBoard"
        [nzBodyStyle]="isBoard ? boardBodyStyle : null"
        [class.tb-tasks-board]="isBoard"
      >
        <tb-task-board *ngIf="isBoard; else listTemplate"></tb-task-board>
        <ng-template #listTemplate>
          <nz-card-tab>
            <nz-tabset nzLinkRouter nzSize="large">
              <nz-tab>
                <a
                  *nzTabLink
                  nz-tab-link
                  routerLink="."
                  [queryParams]="{ status: tasksStatusEnum.Open }"
                >
                  {{ t('task.open') }}
                </a>
              </nz-tab>
              <nz-tab>
                <a
                  *nzTabLink
                  nz-tab-link
                  routerLink="."
                  [queryParams]="{ status: tasksStatusEnum.Closed }"
                >
                  {{ t('task.closed') }}
                </a>
              </nz-tab>
              <nz-tab>
                <a *nzTabLink nz-tab-link routerLink=".">
                  {{ t('task.all') }}
                </a>
              </nz-tab>
            </nz-tabset>
          </nz-card-tab>
          <tb-tasks-list
            [tbTasks]="tasks"
            [tbSkipTagClosed]="isClosedTasks"
          ></tb-tasks-list>
        </ng-template>
      </nz-card>
    </ng-container>
    <ng-template #spinTemplate>
      <nz-spin nzSimple nzSize="large"></nz-spin>
    </ng-template>
  </div>

  <ng-template #createButtonTemplate>
    <button nz-button nzType="primary" (click)="handleCreateTask()">
      {{ t('task.new_task') }}
    </button>
    <button nz-button nzType="primary" (click)="handleEditProject()">
      {{ t('project.edit_project') }}
    </button>
  </ng-template>
</ng-container>
