<ng-container *transloco="let t">
  <nz-table
    #usersTable
    nzShowPagination="false"
    [nzData]="users"
    [nzScroll]="{ x: '1100px' }"
    [nzLoading]="!users.length"
  >
    <thead>
      <tr>
        <th>{{ t('user.name') }}</th>
        <th>{{ t('user.email') }}</th>
        <th nzWidth="100px" nzRight nzAlign="right">{{ t('user.actions') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersTable.data; trackBy: trackByFn">
        <td>
          <div class="tb-users-name">
            <span nz-typography>
              <strong>{{ user.profile.fullName }}</strong>
            </span>
            <span nz-typography nzType="secondary">{{ user.username }}</span>
          </div>
        </td>
        <td>{{ user.profile.email }}</td>
        <td nzRight nzAlign="right">
          <tb-dropdown-actions
            *ngIf="user"
            [tbContext]="user"
            [tbActions]="dropdownActions"
          ></tb-dropdown-actions>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #createButtonTemplate>
    <button nz-button nzType="primary" (click)="handleCreate()">
      {{ t('user.new_user') }}
    </button>
  </ng-template>
</ng-container>
