<ng-container *ngIf="form; else spinTemplate">
  <form nz-form nzLayout="vertical" (ngSubmit)="onSubmit()" [formGroup]="form">
    <nz-form-item>
      <nz-form-label nzNoColon nzFor="project-name" nzRequired>
        Name
      </nz-form-label>
      <nz-form-control>
        <input formControlName="name" type="text" nz-input id="project-name" />
      </nz-form-control>
    </nz-form-item>
    <button class="submit-button" type="submit" [disabled]="disabled"></button>
  </form>
</ng-container>
<ng-template #spinTemplate>
  <nz-spin nzSimple></nz-spin>
</ng-template>
