<nz-layout class="layout-container">
  <nz-header nz-row nzAlign="middle">
    <nz-page-header
      nz-col
      nzFlex="1"
      nzBackIcon
      [nzTitle]="(layoutService.title$ | async) || ''"
      (nzBack)="onBack()"
    >
      <nz-page-header-extra
        *ngIf="layoutService.pageHeaderExtra$ | async as pageHeaderExtra"
      >
        <ng-container *ngTemplateOutlet="pageHeaderExtra"></ng-container>
      </nz-page-header-extra>
    </nz-page-header>
    <nz-avatar
      nzIcon="user"
      nz-dropdown
      nzPlacement="bottomRight"
      nzTrigger="click"
      [nzDropdownMenu]="menu"
    ></nz-avatar>
  </nz-header>
  <nz-layout>
    <nz-content>
      <nz-breadcrumb
        *ngIf="breadcrumbService.breadcrumb$ | async as breadcrumb"
      >
        <nz-breadcrumb-item *ngFor="let item of breadcrumb; last as isLast">
          <ng-container *ngIf="isLast; else linkTemplate">
            {{ item.label }}
          </ng-container>
          <ng-template #linkTemplate>
            <a [routerLink]="item.url">{{ item.label }}</a>
          </ng-template>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <ng-content></ng-content>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="logout()">Log out</li>
  </ul>
</nz-dropdown-menu>
