<div *ngIf="task; else spinTemplate" nz-row class="tb-task">
  <nz-card
    nz-col
    nzFlex="1"
    [nzTitle]="titleTemplate"
    [nzExtra]="extraTemplate"
  >
    <tb-description
      [tbReadOnly]="true"
      [ngModel]="task.description"
    ></tb-description>
  </nz-card>
  <ng-template #extraTemplate>
    <tb-dropdown-actions [tbActions]="dropdownActions"></tb-dropdown-actions>
  </ng-template>
  <ng-template #titleTemplate>
    <nz-tag class="tb-task-status" [nzColor]="task.isOpen ? 'green' : 'red'">
      {{ task.isOpen ? 'Open' : 'Close' }}
    </nz-tag>
    <span nz-typography class="tb-task-info">
      Created {{ task.created | date }} by
    </span>
    <tb-user-inline-info [tbUser]="task.creator"></tb-user-inline-info>
  </ng-template>
  <nz-list nzItemLayout="vertical">
    <nz-list-item class="tb-task-assignees">
      <nz-list-item-meta nzTitle="Assignees">
        <nz-list-item-meta-description>
          <tb-assignees [tbAssignees]="task.assignees"></tb-assignees>
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button
            nz-button
            nzType="text"
            nzSize="small"
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="menu"
            (nzVisibleChange)="handleAssigneesChange($event)"
          >
            Edit
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li>
                <tb-assignees-select
                  [(ngModel)]="assignees"
                  [tbInline]="true"
                ></tb-assignees-select>
              </li>
            </ul>
          </nz-dropdown-menu>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
    <nz-list-item class="tb-task-assignees">
      <nz-list-item-meta nzTitle="Labels">
        <nz-list-item-meta-description>
          <tb-label
            *ngFor="let label of task.labels"
            [tbLabel]="label"
          ></tb-label>
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button
            nz-button
            nzType="text"
            nzSize="small"
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="labelsMenu"
            (nzVisibleChange)="handleLabelsChange($event)"
          >
            Edit
          </button>
          <nz-dropdown-menu #labelsMenu="nzDropdownMenu">
            <ul nz-menu>
              <li>
                <tb-labels-select
                  [(ngModel)]="labels"
                  [tbInline]="true"
                ></tb-labels-select>
              </li>
            </ul>
          </nz-dropdown-menu>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
  </nz-list>
</div>
<ng-template #spinTemplate>
  <div nz-row nzJustify="center">
    <nz-spin nzSimple nzSize="large"></nz-spin>
  </div>
</ng-template>
