@use 'variables' as *;

.tb-task {
  nz-card {
    .ant-card-head {
      position: sticky;
      top: -40px;
      background: white;
      z-index: 1;
    }
  }

  &-status {
    font-size: 16px;
    line-height: 25px;
  }

  nz-list.tb-task-right-panel {
    nz-list-item {
      padding: 0;
      border-bottom-color: #e2e2e2;

      &:not(:last-of-type) {
        margin-bottom: $indent-xs;
      }

      .ant-list-item-action {
        margin-top: 0;
      }
    }
  }
}
