<div *ngIf="task; else spinTemplate" nz-row class="tb-task">
  <nz-card nz-col nzFlex="1" [nzExtra]="extraTemplate"></nz-card>
  <ng-template #extraTemplate>
    <tb-dropdown-actions [tbActions]="dropdownActions"></tb-dropdown-actions>
  </ng-template>
  <nz-list>
    <nz-list-item-meta nzTitle="Assignees"></nz-list-item-meta>
    <nz-avatar
      *ngIf="task.assignees.length; else noAssigneesTemplate"
      nzSize="small"
      nzIcon="user"
    ></nz-avatar>
    <ng-template #noAssigneesTemplate>No assignees</ng-template>
  </nz-list>
</div>
<ng-template #spinTemplate>
  <div nz-row nzJustify="center">
    <nz-spin nzSimple nzSize="large"></nz-spin>
  </div>
</ng-template>
