<ng-container *transloco="let t">
  <div
    nz-row
    [nzJustify]="(projects$ | async)?.length ? 'start' : 'center'"
    class="tb-projects-list-container"
  >
    <ng-container *ngIf="projects$ | async as projects; else spinTemplate">
      <ng-container *ngIf="projects.length; else emptyTemplate">
        <tb-project-card
          *ngFor="let project of projects; trackBy: trackByFn"
          [tbProject]="project"
          (tbDelete)="handleDelete(project)"
        ></tb-project-card>
      </ng-container>
      <ng-template #emptyTemplate>
        <nz-empty [nzNotFoundContent]="t('project.no_projects')"></nz-empty>
      </ng-template>
    </ng-container>
    <ng-template #spinTemplate>
      <nz-spin nzSimple nzSize="large"></nz-spin>
    </ng-template>
  </div>
  <ng-template #createButtonTemplate>
    <button nz-button nzType="primary" (click)="onCreate()">
      {{ t('project.new_project') }}
    </button>
  </ng-template>
</ng-container>
