<ng-container *transloco="let t">
  <ng-container *ngIf="form; else spinTemplate">
    <form
      nz-form
      nzLayout="vertical"
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      autocomplete="off"
    >
      <nz-form-item *ngIf="form.get('username')">
        <nz-form-label nzNoColon nzFor="user-name" nzRequired>
          {{ t('login.username') }}
        </nz-form-label>
        <nz-form-control>
          <input
            formControlName="username"
            type="text"
            [placeholder]="t('login.username')"
            nz-input
            id="user-name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzNoColon nzFor="first-name" nzRequired>
          {{ t('user.first_name') }}
        </nz-form-label>
        <nz-form-control>
          <input
            formControlName="firstName"
            type="text"
            [placeholder]="t('user.first_name')"
            nz-input
            id="first-name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzNoColon nzFor="last-name" nzRequired>
          {{ t('user.last_name') }}
        </nz-form-label>
        <nz-form-control>
          <input
            formControlName="lastName"
            type="text"
            [placeholder]="t('user.last_name')"
            nz-input
            id="last-name"
          />
        </nz-form-control>
      </nz-form-item>
      <ng-container *ngIf="form.get('password')">
        <nz-form-item>
          <nz-form-label nzNoColon nzFor="password" nzRequired>
            {{ t('login.password') }}
          </nz-form-label>
          <nz-form-control>
            <tb-password-input
              formControlName="password"
              tbId="password"
              tbAutoComplete="new-password"
              [tbPlaceholder]="t('login.password')"
            ></tb-password-input>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzNoColon nzFor="confirm-password" nzRequired>
            {{ t('user.confirm_password') }}
          </nz-form-label>
          <nz-form-control [nzErrorTip]="confirmPasswordTemplate">
            <tb-password-input
              formControlName="confirmPassword"
              tbId="confirm-password"
              [tbPlaceholder]="t('user.confirm_password')"
            ></tb-password-input>
            <ng-template #confirmPasswordTemplate let-control>
              <ng-container *ngIf="control.hasError('confirmPassword')">
                {{ t('user.password_dont_match') }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <nz-form-item>
        <nz-form-label nzNoColon nzFor="email" nzRequired>
          {{ t('user.email') }}
        </nz-form-label>
        <nz-form-control>
          <input
            formControlName="email"
            type="email"
            [placeholder]="t('user.email')"
            nz-input
            id="email"
          />
        </nz-form-control>
      </nz-form-item>
      <button
        class="submit-button"
        type="submit"
        [disabled]="!canSubmit"
      ></button>
    </form>
  </ng-container>
  <ng-template #spinTemplate>
    <nz-spin nzSimple></nz-spin>
  </ng-template>
</ng-container>
